[submodule "assignment2_rt"]
	path = assignment2_rt
	url = https://github.com/CarmineD8/assignment_2_2024.git
[submodule "robot_urdf"]
	path = robot_urdf
	url = https://github.com/CarmineD8/robot_urdf.git
